.header {
  width: 22%;
  position: absolute;
  height: 120%;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
  //padding: 30px 0;
  //transition: 1s;
  animation: 1s ease-in-out men alternate;
  @keyframes men {
    0% {
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0);
    }
  }

  &__navbar {
    font-size: 19px;
    color: #A8A8A8;
    display: flex;
    align-items: center;
    //&:focus{
    //  font-size: 19px;
    //  color:#DA8517 ;
    //  border-radius: 20px;
    //  background: linear-gradient(89.93deg, rgba(238, 169, 80, 0.27) 2.77%, rgba(238, 169, 80, 0) 109.06%);
    //}
    animation: 1.5s ease-in-out alternate ani;
    @keyframes ani {
      0% {
        transform: translateX(-400px);
        opacity: 0;
      }
      50% {
        opacity: .5;
      }
      100% {
        transform: translateX(0);
      }
    }
    &.active {
      font-size: 19px;
      color: #EEA950;
      border-radius: 20px;
      background: linear-gradient(89.93deg, rgba(238, 169, 80, 0.27) 2.77%, rgba(238, 169, 80, 0) 109.06%);
    }

  }
}

.rate {
  background: rgba(238, 169, 80, 0.27);
  border-radius: 5px;
}

.rate:hover {
  background: rgba(238, 169, 80, 0.32);
  border-radius: 5px;
}


.input-group {
  position: relative;
  label {
    position: absolute;
    left: 20px;
    top: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
    color: white;
  }
  #in {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    font: inherit;
    color: white;
    background: transparent;
    outline: 2px solid white;
    width: 400px;
  }
  &:focus-within label {
    transform: translate(-15px, -20px) scale(.8);
    color: #d1c5fc;
  }
  &:focus-within #in {
    outline-color: #d1c5fc;

  }
}