#header {
  width: 70%;
  position: fixed;
  right: 0;
  padding: 15px 0;

  .header--general {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__group {
      position: relative;

      i {
        position: absolute;
        top: 13px;
        left: 10px;
        color: white;
      }

      label {
        position: absolute;
        left: 20px;
        top: 0;
        transform: translate(10px, 10px);
        transform-origin: left;
        transition: transform .25s;
        color: white;
      }

      #in {
        padding: 10px 15px 10px 40px;
        border: none;
        border-radius: 20px;
        font: inherit;
        color: white;
        background: transparent;
        outline: 2px solid white;
        width: 400px;
      }

      &:focus-within label {
        transform: translate(-15px, -20px) scale(.8);
        color: #d1c5fc;
      }

      &:focus-within #in {
        outline-color: #d1c5fc;

      }
    }

    &__block {
      padding: 10px 30px;
      background: rgba(238, 169, 80, 0.27);
      border-radius: 5px;
      display: flex;
      align-items: center;
      img {
        padding-right: 10px;
      }
      h1 {
        font-family: 'Open Sans',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #DA8517;
      }
    }

    &__gen {
      display: flex;
      align-items: center;
      img {
        padding-right: 15px;
      }
      div {
        h1 {
          font-family: 'Libre Franklin', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          color: #858585;

        }
        p {
          font-family: 'Libre Franklin', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          color: #CCCCCC;
        }
      }
    }
  }
}

